.position{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.config-text{
    text-align: center;
    justify-content: center;
    align-items: center;
}
